@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

/* Header */

header {
    background-color: #1f2937;
    padding: 1em 13em;
}

/* Navigation */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    display: flex;
    justify-content: flex-start;

}
.nav .left p {
   font-size: 48px;
   font-weight: bolder;
   color: #f9faf8;
}

.right ul {
    list-style-type: none;
    gap: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary,
a:link, a:visited {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

/* Welcome */

.welcome {
    display: flex;
    align-items: center;
    padding: 8em 0;
    gap: 1.5em;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
}
.hero {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.left p {
    font-size: 18px;
    color: #e5e7eb;
}

.left button {
    display: flex;
    align-items: flex-start;
    background-color: #3882f6;
    font-weight: bold;
    color: #f9faf8;
    border-radius: 8px;
    padding: 7px;
    border: none;
}

.image {
    background-color: gray;
    display: flex;
    justify-content: center;
    height: 215px;
    width: 400px;
}
.image p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
}

/* Cards */

h2 {
    margin-top: 1em;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    margin-left: 16em;
    margin-right: 16em;
}

.box {
    margin-top:2em;
    border-style: solid;
    border-width: 4px;
    border-radius: 12px;
    border-color: #3882f6;
    padding: 4em;
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card-text {
    margin-top: 4px;
    padding-bottom: 2em;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
}

/* Quote section */

.quote-container {
    padding: 4em;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: 400;
}

/* Call to action section */

.cta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4em;
    background-color: #3882f6;
    padding: 2em;
    color: #e5e7eb;
    border-radius: 8px;
}

.cta-header {
    font-size: 24px;
    font-weight: bold;

}

.cta-text {

}

.cta-button {
    display: flex;
    align-items: flex-start;
    background-color: #3882f6;
    font-weight: bold;
    color: #f9faf8;
    border-radius: 8px;
    padding: 7px;
    border-color: white;
}

/* Footer */

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}