body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-logo {
    
    color: #f9faf8;
    font-size: 24px;
    padding-left: 12%;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.right-links {
    display: flex;
    justify-content: flex-end;
    padding-right: 12%;
    gap: 12px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-1 {
    display: flex;
   justify-content: space-around;
    background-color: #1f2937;
}
.container-1-text {
display: flex;
flex-direction: column;
align-content: flex-start;
}
h3 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
h6 {
    color: #e5e7eb;
    font-size: 18px;
    flex-wrap: wrap;
}
button{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
}
.container-1-img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: gray;
}
.container-2 {
    display:flex;
    flex-direction: column;

}
.container-2-title {
    display: flex;
    justify-content: center;
}
.container-2-img {
display: flex;
justify-content: space-evenly;
border: blue;
}
.container-2-sub {
display: flex;
justify-content: space-evenly;
}
.container-3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 36px;
}
.quote {
    font: 36px light italic #1f2937;
}
.author {
    display: flex;
    justify-content: flex-end;
    font: 36px bold #1f2937;
}
.container-4 {
    display: flex;
    background-color: #3882f6;
}
.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 32px;
    background-color: #1f2937;
    color: white;
}